venv/
.env
minio-data/
.minio.sys/
__pycache__/        # Python cache files        
.git
minio-ata/                                                                                                                                                                                                                            